{% macro render_paginator(paginator) %}
{% set radius = 4 %}
{% set link_map = paginator.link_map('~4~', curpage_attr={'class':"active"}, dotdot_attr={'class':"disabled"}) %}
    <nav>
        <ul class="pagination">
            {% if paginator.radius < paginator.page %}
                <li>
                    <a href="{{ link_map['first_page']['href'] }}" aria-label="First">
                        <span aria-hidden="true"><i class="fa fa-chevron-circle-left"></i></span>
                    </a>
                </li>
            {% endif %}
            {% if paginator.page > 1 %}
                <li>
                    <a href="{{ link_map['previous_page']['href'] }}" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
                    </a>
                </li>
            {% endif %}
            {% for page in link_map['range_pages'] %}
            <li class="{{ page['attrs'].get('class')}}"><a href="{{ page.href }}">{{ page.value }}</a></li>
            {% endfor %}
            {% if paginator.page < paginator.last_page %}
                <li>
                    <a href="{{ link_map['next_page']['href'] }}" aria-label="Next">
                        <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
                    </a>
                </li>
            {% endif %}
            {% if paginator.page < paginator.page_count - paginator.radius %}
                <li>
                    <a href="{{ link_map['last_page']['href'] }}" aria-label="last">
                        <span aria-hidden="true"><i class="fa fa-chevron-circle-right"></i></span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{%- endmacro %}
