# -*- coding: utf-8 -*-

{% macro render_form(form) -%}
    {% set translate = form.form_translator %}

    {% for field in form %}
        {% if field.type in ['HiddenField','CSRFTokenField'] %}
            <div id="field-{{field.name}}" style="display:none">
                {{render_field(form, field)}}
            </div>
        {% else %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="alert alert-warning form-error">{{translate(error)}}</div>
                {% endfor %}
            {% endif %}

            {% if field.type == 'FormField' %}
                <div class="form-group subform" id="field-{{field.name}}">
                    {{render_form(field)}}
                </div>
{#                {% continue %}#}
            {% endif %}

            <div class="form-group" id="field-{{field.name}}">

                <label for="{{field.name}}" id="label-{{field.name}}" class="control-label">
                    {{translate(field.label.text)}}
                    {% if field.flags.required and field.label.text %}
                        <span class="required">*</span>
                    {% endif %}
                </label>
                {{render_field(form, field)}}
                {% if field.description %}
                <p class="description">{{translate(field.description)|safe}}</p>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro render_field(form, field) -%}

    {{field(class_='form-control %{}'.format(field.type))}}

{%- endmacro %}
