{% extends "testscaffold:templates/layout.jinja2" %}

{% block content %}
    <div class="row">
        <div class="col-md-3">

            <div class="card">
                <div class="card-header">Menu</div>
                {% if not menu_entries %}
                    <div class="card-block">
                        <p class="card-text">
                            {% trans %}No entries added{% endtrans %}
                        </p>
                    </div>
                {% endif %}
                <div class="list-group list-group-flush">
                    {% for entry in menu_entries.values() %}
                        <a href="{{ request.route_url('object',
                        object_id=entry['node'].resource_id,
                        object='entries', verb='GET') }}"
                           class="list-group-item">
                            {{ entry['node'].resource_name }}
                        </a>
                    {% endfor %}
                </div>
            </div>

            <ul>
            </ul>
        </div>
        <div class="col-md-9">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ request.route_url('/') }}">
                        {% trans %}Index page{% endtrans %}
                    </a>
                </li>
                {% for node in breadcrumbs |reverse %}
                    <li class="breadcrumb-item">
                        <a href="{{ request.route_url('object',
                        object_id=node.resource_id,
                        object='entries', verb='GET') }}">
                            {{ node.resource_name }}
                        </a>
                    </li>
                {% endfor %}
            </ol>

            <p>{{ resource.note }}</p>
        </div>
    </div>
{% endblock content %}
