{% extends "testscaffold:templates/layout.jinja2" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>{% trans %}This is the index page content{% endtrans %}</p>
        </div>
    </div>
{% endblock content %}
