<!DOCTYPE html>
<html lang="{{ request.locale_name }}" data-ng-app="demoApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Pylons Project">
    <link rel="shortcut icon" href="/static/pyramid-16x16.png">

    <title>Ziggurat Scaffold for The Pyramid Web Framework</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link
            href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
            rel="stylesheet">

    <!-- Custom styles for this scaffold -->
    <link href="{{ request.static_url('testscaffold:static/theme.css') }}"
          rel="stylesheet">
    <script
            src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script
            src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.2/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript">
        var BASE_URL = '{{request.route_url('/')[:-1]}}';
        var API_BASE_URL = '{{request.route_url('api_objects', version='0.1', object='O')[:-2]}}';

        var demoApp = angular.module('demoApp', ['ui.bootstrap']);
    </script>
</head>

<body>

<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="top-nav">
        <a class="navbar-brand" href="{{ request.route_url('/') }}">
            {% trans %}Some project name{% endtrans %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarText" aria-controls="navbarText"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link"
                                        href="{{ request.route_url('language', language='en', _query={'came_from':request.current_route_url()}) }}">
                    EN</a>
                </li>
                <li class="nav-item"><a class="nav-link"
                                        href="{{ request.route_url('language', language='pl', _query={'came_from':request.current_route_url()}) }}">
                    PL</a>
                </li>
            </ul>
        </div>
    </nav>

    {% include 'testscaffold:templates/layout_login.jinja2' %}

    {% for flash in flash_messages %}
        <div class="alert alert-{{ flash['level'] }}"
             role="alert">{{ flash['msg'] }}</div>
    {% endfor %}
    {% block outer_content %}
        <div class="row">
            <div class="col-md-12">
                {% block content %}
                    <p>{% trans %}No content{% endtrans %}</p>
                {% endblock content %}
            </div>
        </div>
    {% endblock outer_content %}

</div> <!-- /container -->

</body>
</html>
