{% extends "testscaffold:templates/admin/layout.jinja2" %}
{% import 'testscaffold:templates/partials/common.jinja2' as common_widgets %}
{% import 'testscaffold:templates/partials/ziggurat_form.jinja2' as form %}

{% block content %}
    <script
        src="{{ request.static_url('testscaffold:static/js/admin/users_list.js') }}"></script>

    <div class="col-md-9">
        {% if request.matchdict.get('verb') != 'POST' %}
            <ol class="breadcrumb">
                {% for node in breadcrumbs |reverse %}
                    <li class="breadcrumb-item">{{ node.resource_name }}</li>
                {% endfor %}
            </ol>
        {% endif %}
        <div class="card">
            <h4 class="card-header">
                {% if request.matchdict.get('verb') == 'POST' %}
                    {% trans %}Create new entry{% endtrans %}
                {% else %}
                    {% trans %}Editing {% endtrans %}
                    <strong>{{ resource.resource_name }}</strong>
                {% endif %}
            </h4>
            <div class="card-body">

                {% if request.matchdict.get('verb') == 'POST' %}
                    <form
                        action="{{ request.route_url('admin_objects', object='entries', verb='POST') }}"
                        method="POST">
                {% else %}
                    <form
                        action="{{ request.route_url('admin_object', object='entries', object_id=resource.resource_id, verb='PATCH') }}"
                        method="POST">
                {% endif %}

                {{ form.render_form(resource_form) }}

                <button type="submit" class="btn btn-secondary">
                    {% if request.matchdict.get('verb') == 'POST' %}
                        {% trans %}Create{% endtrans %}
                    {% else %}
                        {% trans %}Update{% endtrans %}
                    {% endif %}
                </button>

                {% if request.matchdict.get('verb') != 'POST' %}
                <a href="{{ request.route_url('admin_object', object='entries', object_id=resource.resource_id, verb='DELETE') }}"
                   class="btn btn-danger">{% trans %}Delete{% endtrans %}</a>
                {% endif %}
                </form>


            </div>
        </div>

        {% if request.matchdict.get('verb') in ['GET', 'PATCH'] %}
            <div class="card">
                <h4 class="card-header">
                    {% trans %}User Permissions{% endtrans %}
                </h4>
                <div class="card-body"
                     data-ng-controller="UserListController as userCtrl">
                    <form
                        action="{{ request.route_url('admin_object_relation', object='resources', object_id=resource.resource_id, relation='user_permissions', verb='POST' ) }}"
                        method="POST">

                        <label for="user_name" id="label-user_name"
                               class="control-label">
                            {% trans %}User name{% endtrans %}
                        </label>

                        <input type="text" name="user_name"
                               data-ng-model="userCtrl.selectedUser"
                               placeholder="Users loaded via angularJS"
                               data-uib-typeahead="user as user.user_name for user in userCtrl.getUsers($viewValue)"
                               data-typeahead-loading="userCtrl.loadingUsers"
                               data-typeahead-no-results="userCtrl.noResults"
                               class="form-control">
                        <i data-ng-show="userCtrl.loadingUsers"> {% trans %}
                            Loading{% endtrans %} </i>
                        <div data-ng-show="userCtrl.noResults"><i>{% trans %}No
                            Results Found{% endtrans %}</i></div>


                        {{ form.render_form(user_permission_form) }}
                        <button type="submit" class="btn btn-secondary">
                            {% trans %}Add{% endtrans %}
                        </button>
                    </form>

                    <table class="table">
                        {{ user_permissions_grid }}
                    </table>
                </div>
            </div>

            <div class="card">
                <h4 class="card-header">
                    {% trans %}Group Permissions{% endtrans %}
                </h4>
                <div class="card-body">
                    <form
                        action="{{ request.route_url('admin_object_relation',
                        object='resources', object_id=resource.resource_id,
                        relation='group_permissions', verb='POST' ) }}"
                        method="POST">
                        {{ form.render_form(group_permission_form) }}
                        <button type="submit" class="btn btn-secondary">
                            {% trans %}Add{% endtrans %}
                        </button>
                    </form>

                    <table class="table">
                        {{ group_permissions_grid }}
                    </table>
                </div>
            </div>

        {% endif %}

    </div>
{% endblock content %}
