{% extends "testscaffold:templates/admin/layout.jinja2" %}
{% import 'testscaffold:templates/partials/common.jinja2' as common_widgets %}

{% block content %}
    <div class="col-md-9">

        <div class="card">
            <h4 class="card-header">{% trans %}Manage entries{% endtrans %}</h4>
            <div class="card-block">

                <p>
                    <a href="{{ request.route_url('admin_objects', object="entries", verb='POST') }}"
                       class="btn btn-info">
                        {% trans %}Create a new entry{% endtrans %}
                    </a>
                </p>

                {{ render_tree_node(entries_tree['children']) }}

            </div>
        </div>
    </div>
{% endblock content %}

{% macro render_tree_node(node_list) -%}
    {% if node_list %}
        <ul>
            {% for node in node_list.values() %}
                <li>
                    <span>{{ node['node'].ordering }}</span>
                    <a href="{{ request.route_url('admin_object', object="entries",
                    object_id=node['node'].resource_id, verb='GET') }}">
                        <strong>{{ node['node'].resource_name }}</strong>
                    </a>
                    {% if node['children'] %}
                        <div>{% trans %}Sub-elements:{% endtrans %}</div>
                        {{ render_tree_node(node['children']) }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{%- endmacro %}
