{% extends "testscaffold:templates/admin/layout.jinja2" %}

{% block content %}
    <div class="col-md-9">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans %}Celery
                    test{% endtrans %}</h3>
            </div>
            <div class="panel-body">
                <p>{% trans %}You can test celery integration
                    here{% endtrans %}</p>
                <p><a
                    href="{{ request.route_url('admin_objects', object='celery', verb='POST') }}"
                    class="btn btn-primary">{% trans %}Send
                    task{% endtrans %}</a></p>
            </div>
        </div>
    </div>
{% endblock content %}
