{% extends "testscaffold:templates/admin/layout.jinja2" %}

{% block content %}
    <div class="col-md-9">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans %}Application
                    statistics{% endtrans %}</h3>
            </div>
            <div class="panel-body">
                <p>{% trans %}Registered users{% endtrans %}:
                    <strong>{{ total_registered_users }}</strong></p>

                <p>{% trans %}Last registered{% endtrans %}:
                    <strong>
                        {% if latest_registered_user %}
                            {{ latest_registered_user.user_name }}
                        {% else %}
                            {% trans %}No one registered yet
                            {% endtrans %}
                        {% endif %}
                    </strong>
                </p>

                <p>{% trans %}Last logged{% endtrans %}:
                    <strong>
                        {% if latest_logged_user %}
                            {{ latest_logged_user.user_name }}
                        {% else %}
                            {% trans %}No one logged in yet
                            {% endtrans %}
                        {% endif %}
                    </strong></p>
            </div>
        </div>
    </div>
{% endblock content %}
