{% extends "testscaffold:templates/admin/layout.jinja2" %}
{% import 'testscaffold:templates/partials/common.jinja2' as common_widgets %}
{% import 'testscaffold:templates/partials/ziggurat_form.jinja2' as form %}

{% block content %}
<div class="col-md-9">

    <div class="card">
        <div class="card-header">
            <h3 class="panel-title">
                {% trans %}Confirm operation{% endtrans %}
            </h3>
        </div>
        <div class="card-body text-center">
            <p>
            {% if member_obj is none %}
                {% trans %}Delete{% endtrans %} <strong>{{parent_obj}}</strong>?
            {% else %}
                {% trans %}Delete relation between{% endtrans %} <strong>{{member_obj}}</strong> {% trans %}and{% endtrans %} <strong>{{parent_obj}}</strong>?
            {% endif %}
            </p>

            <form action="{{confirm_url}}" method="POST">
                <input type="hidden" value="{{request.session.get_csrf_token()}}" name="csrf_token" />
                <a href="{{back_url}}" class="btn btn-primary">{% trans %}Back{% endtrans %}</a>

                <button class="btn btn-danger">{% trans %}Confirm{% endtrans %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
