{% extends "testscaffold:templates/admin/layout.jinja2" %}
{% import 'testscaffold:templates/partials/common.jinja2' as common_widgets %}
{% import 'testscaffold:templates/partials/ziggurat_form.jinja2' as form %}

{% block content %}
<div class="col-md-9">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Confirm operation
            </h3>
        </div>
        <div class="panel-body text-center">
            <p>
            {% if member_obj is none %}
                Delete <strong>{{parent_obj}}</strong>?
            {% else %}
                Delete membership of <strong>{{member_obj}}</strong> in <strong>{{parent_obj}}</strong>?
            {% endif %}
            </p>

            <form action="{{confirm_url}}" method="POST">
                <input type="hidden" value="{{request.session.get_csrf_token()}}" name="csrf_token" />
                <a href="{{back_url}}" class="btn btn-primary">Back</a>

                <button class="btn btn-danger">Confirm</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
