{% extends "testscaffold:templates/layout.jinja2" %}
{% import 'testscaffold:templates/partials/ziggurat_form.jinja2' as form %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <h3>{% trans %}Lost Password{% endtrans %}</h3>

        <form action="{{request.route_url('lost_password')}}" method="POST">
            {{form.render_form(lost_password_form)}}
            <button type="submit" class="btn btn-secondary">{% trans %}Get new password{% endtrans %}</button>

            <a href="{{request.route_url('/')}}">{% trans %}Return to index page{% endtrans %}</a>

        </form>


    </div>
</div>
{% endblock content %}
