{% extends "testscaffold:templates/admin/layout.jinja2" %}
{% import 'testscaffold:templates/partials/common.jinja2' as common_widgets %}

{% block content %}
<div class="col-md-9">

    <div class="card">
        <h4 class="card-header">{% trans %}Groups{% endtrans %}</h4>
        <div class="card-block">

            <p>
                <a href="{{request.route_url('admin_objects', object="groups", verb='POST')}}" class="btn btn-info">
                    {% trans %}Create a new group{% endtrans %}
                </a>
            </p>

            <table class="table">
            {{groups_grid}}
            </table>
        </div>
    </div>
</div>
{% endblock content %}
