<h1>Password change request</h1>
<p>You can generate a new password by clicking following URL:</p>
<p>
    <a href="{{ request.route_url('lost_password_generate', _query={'security_code':user.security_code,
                                                                    'user_name':user.user_name}, _app_url=base_url) }}">
        {{ request.route_url('lost_password_generate', _query={'security_code':user.security_code,
                                                                'user_name':user.user_name},_app_url=base_url) }}
    </a>
</p>
<p>This link expires in 10 minutes from the moment you filled in your form.</p>
<p>If you didn't request new password please ignore this email.</p>
