{% extends "testscaffold:templates/layout.jinja2" %}
{% import 'testscaffold:templates/partials/ziggurat_form.jinja2' as form %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <h2>{% trans %}Set your new password{% endtrans %}</h2>

        <form action="{{request.route_url('lost_password_generate',
                        _query={"user_name":request.GET.get('user_name'), "security_code":request.GET.get('security_code')})}}"
              method="POST">
            {{form.render_form(update_password_form)}}
            <button type="submit" class="btn btn-secondary">{% trans %}Update password{% endtrans %}</button>
            <a href="{{request.route_url('/')}}">{% trans %}Return to index page{% endtrans %}</a>
        </form>
    </div>
</div>
{% endblock content %}
