{% extends "testscaffold:templates/admin/layout.jinja2" %}
{% import 'testscaffold:templates/partials/common.jinja2' as common_widgets %}
{% import 'testscaffold:templates/partials/ziggurat_form.jinja2' as form %}

{% block content %}
    <div class="col-md-9">

        <div class="card">
            <h4 class="card-header">
                {% if request.matchdict.get('verb') == 'POST' %}
                    {% trans %}Create a new user{% endtrans %}
                {% else %}
                    {% trans %}Editing {% endtrans %}
                    <strong>{{ user }}</strong>
                {% endif %}
            </h4>
            <div class="card-block">

                {% if request.matchdict.get('verb') == 'POST' %}
                    <form
                        action="{{ request.route_url('admin_objects', object='users', verb='POST') }}"
                        method="POST">
                {% else %}
                    <form
                        action="{{ request.route_url('admin_object', object='users', object_id=user.id, verb='PATCH') }}"
                        method="POST">
                {% endif %}

                {{ form.render_form(user_form) }}
                <button type="submit" class="btn btn-secondary">
                    {% if request.matchdict.get('verb') == 'POST' %}
                        {% trans %}Create{% endtrans %}
                    {% else %}
                        {% trans %}Update{% endtrans %}
                    {% endif %}
                </button>
                </form>

            </div>
        </div>


        {% if request.matchdict.get('verb') in ['GET', 'PATCH'] %}
            <div class="card">
                <div class="card-header">
                    <h3 class="panel-title">
                        {% trans %}Permissions{% endtrans %}
                    </h3>
                </div>
                <div class="card-block">
                    <form
                        action="{{ request.route_url('admin_object_relation', object='users', object_id=user.id, relation='permissions', verb='POST' ) }}"
                        method="POST">
                        {{ form.render_form(permission_form) }}
                        <button type="submit" class="btn btn-secondary">
                            {% trans %}Add{% endtrans %}
                        </button>
                    </form>

                    <table class="table">
                        {{ permissions_grid }}
                    </table>
                </div>
            </div>
        {% endif %}

    </div>
{% endblock content %}
